body,
html {
	width: 100%;
	background: linear-gradient(15deg, #ff7b0004 10%, rgba(37, 28, 3, 0.2) 37%, rgba(214,255,154,0.3) 57%, #919b094d 91%);
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 auto;
}

.person__info {
	flex: 1 0 50%;
	padding-top: 2rem;
	padding-bottom: 2rem ;
	padding-left: 2rem;
	padding-right: 1rem;
}

.person__contacts {
	flex: 1 0 50%;
	padding-top: 2rem;
	padding-bottom: 2rem ;
	padding-left: 1rem;
	padding-right: 2rem;
}

.person__details {
	flex: 1 0 50%;
}

.avatar {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
}

.avatar__picture {
	border:2rem solid white;
	border-radius: 50%;
    transition: transform 1s;
}

.contacts {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}	

.contacts__name {
	font-size: 2rem;
	font-weight: bold;
	transition: transform 1s;
}

.contacts__role {
	margin-bottom: 2rem;
	font-size: 1.2rem;
    font-weight: bold;
}
/*
.contacts__item {
}
*/
.contacts__title {
	font-weight: bold;
}
/*
.contacts__title:after {
}
*/
.contacts__link {
	color: gray;
}

.paragraph {
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: 1rem;
}

.paragraph_last {
	margin-bottom: 3rem;
}

.avatar__picture:hover {
	border-radius: 50%;
	border:1rem solid rgb(141, 165, 97);
	transform: rotate(360deg);
	
} 

.contacts__name:hover {
	filter: none;
 	color: rgb(141, 165, 97);
	transform: rotate(360deg);
}

.contacts__name:hover + div {
	filter: blur(8px);
 	color: rgb(141, 165, 97);
}